<div class="ui comments">
  <div class="comment answers-and-answer-box">
    <a class="avatar">
      <img src="http://images.vinylpulse.com/vp_pics/munky_king/whaleboy/release/whaleboy-bobby11_001_b.jpg">
    </a>
    <div class="content">
      <a class="author">{{answer.author}}</a>
      <div class="metadata">
        <div class="date">{{moment-from-now answer.date}}</div>
      </div>
      <div class="text">
        {{answer.answercontent}}
      </div>
    </div>
  </div>
</div>
