<div class="jumbotron">
  <h2>{{question.question}}</h2>
  <h3>~ {{question.author}}</h3>
</div>

<h4>{{question.notes}}</h4>
<hr>
{{#each question.answers as |answer|}}
  {{answer-tile answer=answer}}
  <br>
{{/each}}
<br>
