<div class="col-sm-4">
  <div class="ui card">
    <div class="image">
      <img src="https://cdn.shopify.com/s/files/1/0922/5218/products/51UbxlwihvL._SL500_large.jpeg?v=1438118534">
    </div>
    <div class="content">
      <a class="header">{{question.author}}</a>
      <div class="meta">
        <span class="date">Question asked on: some date</span>
      </div>
      <div class="description">
        {{question.question}}
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="user icon"></i>
        number of answers
      </a>
    </div>
  </div>
</div>
