h2 img {
  width: 2em;
}

.web-title {
  font-size: 2em;
}

.image-key p{
  font-size: 1em;
}

.new-question-btn {
  width: 90%;
  margin-left: 5%;
}

.ui.card {
  margin-left: 10%;
  margin-bottom: 5% !important;
}

.question-edit-form {
  width: 90%;
  margin-left: 5%;
}

.answer-filter {
  width: 25%;
  margin-left: 20%;
}

.answers-and-answer-box {
  margin-left: 20% !important;
  width: 50%;
}
