.web-title {
  font-size: 1.7em;
}

.answers-and-answer-box {
  margin-left: 20% !important;
  width: 50%;
}

.new-question-btn {
  width: 90%;
  margin-left: 5%;
}

.ui.card {
  margin-left: 10%;
  margin-bottom: 5% !important;
}

.question-edit-form {
  width: 90%;
  margin-left: 5%;

}
