

{{!-- <div>
  <i class="quote left icon"></i>
  Questions asked ~
</div>
<div>
  <i class="quote right icon"></i>
  Questions answered ~
</div> --}}

<div>
  Your activity:
  <div class="row">
    <div class="col-sm-6">
      <div>
        <i class="smile icon"></i>
        Upvotes in this session ~ {{userSession.upvoteCount}}
      </div>
      <div>
        <i class="frown icon"></i>
        Downvotes in this session ~ {{userSession.downvoteCount}}
      </div>
    </div>
    <div class="col-sm-6">
      <!-- {{#each userSession.answers as |answer|}}
        <div>
          <i class="smile icon"></i>
          Upvotes in this session ~ {{answer.upvote}}
        </div>
        <div>
          <i class="frown icon"></i>
          Downvotes in this session ~ {{answer.downvote}}
        </div>
      {{/each}} -->
    </div>
  </div>
</div>
