{{!-- <div>
  <i class="smile icon"></i>
  Upvotes in this session ~
</div>
<div>
  <i class="frown icon"></i>
  Downvotes in this session ~
</div>
<div>
  <i class="quote left icon"></i>
  Questions asked ~
</div>
<div>
  <i class="quote right icon"></i>
  Questions answered ~
</div> --}}

<ul>
  {{#each userSession.answers as |answer|}}
    <li>
      {{answer.answercontent}}
      <p>upvotes: {{answer.upvote}}</p>
      <p>downvotes: {{answer.downvote}}</p>
    </li>
  {{/each}}
</ul>
