<div>
  <i class="smile icon"></i>
  Upvotes in this session ~
</div>
<div>
  <i class="frown icon"></i>
  Downvotes in this session ~
</div>
<div>
  <i class="quote left icon"></i>
  Questions asked ~
</div>
<div>
  <i class="quote right icon"></i>
  Questions answered ~
</div>
