<div class="container">
  <br>
  <div class="jumbotron">
    <button class="btn btn-info" name="button" {{action 'click'}}>Toggle</button>
    <div class="text-center">
      <h2><img src="assets/scared.png" alt="" /><span class="web-title">Q&A</span><img src="assets/scared.png" alt="" /></h2>
      <p>Sometimes a question is your <u>cue</u> to go "<u>eh?</u>"</p>
    </div>
  </div>
  <hr>

  <div class="ui sidebar labeled icon top inverted menu">
    {{#link-to 'index'}}
      <a class="item" {{action 'click'}}>
        <i class="home icon"></i>
        Home
      </a>
    {{/link-to}}
    {{!-- <a class="item">
      <i class="block layout icon"></i>
      Topics
    </a>
    <a class="item">
      <i class="smile icon"></i>
      Friends
    </a> --}}
  </div>

  {{outlet}}

</div>
