<div class="container">
  <br>
  {{user-session-display}}
  <div class="jumbotron">
    <button class="btn btn-info" name="button" {{action 'click'}}>Toggle</button>
    <div class="text-center">
      <h2><img src="assets/scared.png" alt="" />{{#link-to 'index'}}<span class="web-title">Q&A</span>{{/link-to}}<img src="assets/scared.png" alt="" /></h2>
      <p>Sometimes a question is your <u>cue</u> to go "<u>eh?</u>"</p>
      <hr>
      <div class="image-key well">
        <em><strong>Image key:</strong></em>
        <p>
          <img src="assets/shocked.png" alt="" /><em> = hot question or answer!</em>
        </p>
      </div>
    </div>
  </div>
  <hr>


  <div class="ui sidebar labeled icon top inverted menu">
    {{#link-to 'index'}}
      <a class="item" {{action 'click'}}>
        <i class="home icon"></i>
        Home
      </a>
    {{/link-to}}
  </div>

  {{outlet}}

</div>
