{{question-new saveQuestion="saveQuestion"}}
<hr>
<h1>Browse questions from your peers ~</h1>
<br>
<div class="row">
  {{#each model as |question|}}
    {{question-tile question=question update="update"}}
  {{/each}}
</div>

<br><hr><br>
