{{question-page question=model}}
<br>
<hr>
<br>
<div class="ui comments">
  <div class="comment answers-and-answer-box">
    <a class="avatar">
      <img src="http://images.vinylpulse.com/vp_pics/munky_king/whaleboy/release/whaleboy-bobby11_001_b.jpg">
    </a>
    <div class="content">
      <a class="author">Steve Jobes</a>
      <div class="metadata">
        <div class="date">daaattteeee</div>
      </div>
      <div class="text">
        Revolutionary!
      </div>
    </div>
  </div>
</div>
<br>

{{answer-box saveAnswer="saveAnswer" question=model}}
